{% extends 'base.html' %}
{% block links %}
    <li class="nav-item">
        <a class="nav-link" href="/productManager">Add product</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/products">All products</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/magazine_admin">Add category</a>
    </li>
{% endblock %}

{% block main %}
    <h1>add product</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-default">ADD</button>
    </form>
{% endblock %}